html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit";
  font-size: 1.6rem;
}

.astronomy-home {
  width: 100%;
  height: 4200px;
  background-color: #000;
}

/* menu */

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

input#nav-res-input {
  display: none;
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn linear 0.2s;
}

#header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 74px;
  background-color: black;
}

.header-res {
  transition: transform linear 0.2s;
  display: none;
  transform: translateX(100%);
  right: 0rem;
  position: fixed;
  top: 0rem;
  bottom: 0;
  width: 16rem;
  max-width: 100%;
  background-color: #fff;
}

#nav-res {
  color: #000;
  font-size: 1.4rem;
  margin-left: 0.5rem;
  margin-top: 3rem;
}

.subnav-res {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
}

#icon-res {
  top: 0.5rem;
  color: #666;
  position: absolute;
  font-size: 1.4rem;
  left: 0.5rem;
}

i#icon-mobile {
  display: none;
}

#logo_img {
  position: absolute;
  margin-left: 20px;
}

#nav, .subnav {
  list-style-type: none;
}

ul#nav {
  position: absolute;
  margin-left: 280px;
  margin-top: 0px;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 74px;
  padding: 0px 50px;
  font-size: 20px;
  display: block;
}

li.astronomy-home__time-lives {
  color: white;
}

li.astronomy-home__numberlives {
  color: white;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: rgb(207, 207, 207);
}

#nav .subnav {
  text-align: center;
  width: 100%;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 10px;
  line-height: 50px;
}

/* banner và content */

.banner {
  display: flex;
  align-items: center;
  width: 100%;
}
.banner-img {
  width: 1600px;
  height: 500px;
}
.banner-img__slider {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.body {
  width: 100%;
  height: 3000px;
  background-color: #fff;
  border-radius: 5rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.body__question {
  width: 80%;
  height: 3000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}
.body__question-1 {
  margin-bottom: 2rem;
}
.body-name__Question {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 12rem;
  color: #0ab7fa;
  margin-bottom: 2rem;
}
.body-answer__Question-1st {
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem 4rem;
  border-radius: 5rem;
  border: 5px solid #0ab7fa;
  position: relative;
}
.body-answer__Question-1st::after {
  content: "The Short Answer:";
  position: absolute;
  padding-left: 8px;
  width: 180px;
  padding-right: 8px;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 400;
  z-index: 1;
  top: -12%;
  left: 5%;
  transform: translate(5%, 12%);
}
.body-name__Question-2 {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
  color: #0ab7fa;
}
.body-gif {
  width: 200px;
}
.body-gif__answer {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.body-answer__desc1 {
  font-size: 2rem;
}
.body-answer__desc-3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.body-desc__img-3 {
  width: 500px;
  margin: 0 auto 2rem auto;
}
.body__img-3 {
  width: 100%;
  border-radius: 5rem;
  object-fit: cover;
  overflow: hidden;
}
.body-desc__img-4 {
  width: 500px;
  margin: 0 auto 2rem auto;
}
.body__img-4 {
  border-radius: 5rem;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.body-desc__img-5 {
  width: 500px;
  margin: 0 auto 2rem auto;
}
.body__img-5 {
  border-radius: 5rem;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.news-more {
  width: 60%;
  height: 300px;
  border-radius: 5rem;
  margin: 0 auto;
}
.news-more__title {
  color: #0ab7fa;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.news-more__news {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.news-more__swiper {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news-more .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.news-more__img-slider {
  width: 150px;
  height: 150px;
  transition: all 0.25s linear;
}
.news-more__img-slider:hover {
  transform: scale(1.1);
}
.news-more__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-more__desc {
  color: #fff;
  font-size: 2.2rem;
}
.news-more .swiper-pagination-bullet {
  background-color: white;
}
.news-more .swiper-pagination-bullet-active {
  background-color: #0ab7fa;
}
.news-more .swiper-button-prev {
  left: -30px;
  z-index: 1;
}
.news-more .swiper-button-next {
  right: -30px;
  z-index: 1;
}

/* footer */

.footer {
  width: 100%;
  height: 900px;
  background-color: #000;
}
.footer-title {
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.footer-title__contact {
  color: #0ab7fa;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.footer-contact {
  width: 100%;
  height: 300px;
  background-color: #fff;
  margin-bottom: 5rem;
}
.footer-contact__form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.footer-contact__box {
  border: 0;
  margin: 8px 0;
  padding: 1rem;
  outline: none;
  background-color: #f5f5f5;
  font-size: 16px;
}
.footer-contact__2 {
  width: 100%;
  height: 450px;
  position: relative;
  margin-top: 5rem;
}
.footer-form {
  position: absolute;
  top: -5%;
  right: 60px;
  width: 40%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-60px);
  box-shadow: 3px 3px 12px #242424;
}
.footer-form__box-2 {
  border: 0;
  margin: 8px 0;
  padding: 1rem;
  outline: none;
  background-color: #f5f5f5;
  font-size: 16px;
}
.footer-form__click {
  width: 10rem;
  height: 3rem;
  background-color: #0ab7fa;
  color: #fff;
  border: none;
  border-radius: 3rem;
  margin: 0 auto;
}
.footer-form__box-message {
  outline: none;
  margin: 8px 0;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
}
.footer__feedback-text {
  font-size: 2rem;
  font-weight: 400;
  color: #0ab7fa;
}
.footer__form-2 {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.footer-map {
  width: 100%;
  height: 400px;
}
.footer-map__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: right;
}

.contact-about {
  width: 100%;
  color: #fff;
  margin-top: 5rem;
}
.contact-about__title {
  font-weight: 600;
  position: relative;
}
.contact-about__title::before {
  content: "";
  position: absolute;
}
.contact-about__icon {
  display: flex;
  flex-direction: row;
}
.contact-about__social {
  color: #fff;
  font-size: 3rem;
  margin-right: 2rem;
}
.contact-about__flower-text {
  position: relative;
  padding-left: 4rem;
  margin-left: -4rem;
}
.contact-about__flower-text::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 5px;
  background-color: #0ab7fa;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 5rem;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #001a2e;
}

/*  điện thoại */

@media only screen and (max-width: 46.1875em) {
  .astronomy-home {
    height: 3400px;
  }

  /* menu */

  i#icon-mobile {
    font-size: 3rem;
    position: absolute;
    color: #fff;
    display: block;
    right: 10%;
    top: 20%;
    transform: translate(-10%, -20%);
    padding: 0.5rem;
  }
  #logo_img {
    position: relative;
    margin-left: 1rem;
    height: 40px;
    width: 120px;
    margin-top: 0px;
    margin-top: 1.2rem;
  }
  ul#nav {
    display: none;
  }
  .header-res {
    display: block;
    width: 200px;
  }
  .nav-res__menu {
    margin-bottom: 3rem;
    overflow: scroll;
    margin-left: 2rem;
  }
  .nav-menu__child {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #f2f2f2;
    height: 3rem;
    line-height: 3rem;
  }

  #header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
  }
  #logo_img {
    margin-left: 0;
    position: relative;
  }
  i#icon-mobile {
    font-size: 3rem;
    position: relative;
    color: #fff;
    display: block;
    padding: 0.5rem;
  }
  .content {
    height: 78rem !important;
  }
  .content-add {
    height: 70rem !important;
  }
  i#icon-res {
    display: block;
    position: relative;
  }
  .p#text_planet,
  #planet_name,
  .planet_info,
  .planet_distance {
    display: none;
  }
  .content-img {
    height: 32rem;
  }
  .subnav-res1,
  .subnav-res2,
  .subnav-res3 {
    padding-left: 2rem;
    display: none;
  }
  .nav-input:checked ~ .header-res {
    transform: translateX(0%);
    top: 0;
  }
  .nav-input:checked ~ .nav-overlay {
    display: block;
  }
  #nav-down1:checked ~ .subnav-res1 {
    display: block;
  }
  #nav-down2:checked ~ .subnav-res2 {
    display: block;
  }
  #nav-down3:checked ~ .subnav-res3 {
    display: block;
  }
  input#nav-down1 {
    display: none;
  }
  input#nav-down2 {
    display: none;
  }
  input#nav-down3 {
    display: none;
  }
  details {
    border: 0.2rem solid #aaa;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* banner */

  .banner-img {
    width: 500px;
    height: 250px;
  }
  .banner-img__slider {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
  }
  .body {
    width: 80%;
    height: 2700px;
    background-color: #fff;
    border-radius: 5rem;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .body__question {
    width: 90%;
    height: 2700px;
    padding-top: 5rem;
  }
  .body-name__Question {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .body-answer__Question-1st {
    font-size: 1.4rem;
    padding: 2rem 2rem;
    border-radius: 5rem;
  }
  .body-answer__Question-1st::after {
    padding-left: 8px;
    width: 180px;
    height: 35px;
    padding-right: 8px;
    background-color: #fff;
    font-size: 2rem;
    z-index: 1;
  }
  .body-name__Question-2 {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #0ab7fa;
  }
  .body-gif {
    width: 150px;
    margin: 0 auto;
  }
  .body-gif__answer {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .body-answer__desc1 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .body-answer__desc-3 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .body-desc__img-3 {
    width: 250px;
    margin: 0 auto 2rem auto;
  }
  .body__img-3 {
    width: 100%;
    border-radius: 5rem;
    object-fit: cover;
    overflow: hidden;
  }
  .body-desc__img-4 {
    width: 250px;
    margin: 0 auto 2rem auto;
  }
  .body__img-4 {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
  }
  .body-desc__img-5 {
    width: 250px;
    margin: 0 auto 2rem auto;
  }
  .body__img-5 {
    border-radius: 5rem;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
  }
  .new-more {
    height: 200px;
    margin: 4rem auto 0 auto;
  }
  .new-more__title {
    color: #0ab7fa;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 3rem;
  }
  .new-more__news {
    width: 80%;
    height: 100%;
    position: relative;
    margin: 0 auto;
  }
  .new-more__swiper {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* footer */

  .footer {
    height: 1450px;
  }
  .footer-title {
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
  .footer-contact {
    width: 100%;
    height: 300px;
    background-color: #fff;
  }
  .footer-contact__form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .footer-contact__box {
    border: 0;
    margin: 8px 0;
    padding: 1rem;
    outline: none;
    background-color: #f5f5f5;
    font-size: 1.2rem;
  }
  .footer-contact__click {
    font-size: 1.2rem;
    background-color: #0ab7fa;
    width: 100px;
    border: none;
    border-radius: 3rem;
    margin: 0 auto;
    color: #fff;
  }
  .contact-about {
    width: 100%;
    color: #fff;
    margin-top: 1rem;
  }
  .contact-about__2 {
    font-size: 1.4rem;
    width: 100%;
  }
  .contact-about__footer {
    margin-top: 1rem;
  }
  .contact-about__title {
    font-weight: 600;
    position: relative;
    margin-bottom: 1rem;
  }
  .contact-about__title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #0ab7fa;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact-about__desc {
    font-weight: 300;
  }
  .contact-about__icon {
    display: block;
  }
  .contact-about__footer-icon {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .contact-about__social {
    color: #fff;
    font-size: 1.6rem;
    margin-right: 2rem;
  }
  .contact-about__folower {
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 600px;
  }
  .contact-about__folower::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #0ab7fa;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ipad */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .astronomy-home {
    height: 4200px;
  }

  /* menu */

  i#icon-mobile {
    font-size: 3rem;
    position: absolute;
    color: #fff;
    display: block;
    right: 5%;
    top: 20%;
    transform: translate(-5%, -20%);
    padding: 0.5rem;
  }
  #logo_img {
    position: relative;
    margin-left: 2rem;
    width: 160px;
    object-fit: contain;
    margin-top: 0px;
  }
  ul#nav {
    display: none;
  }
  .header-res {
    display: block;
    width: 300px;
  }
  #nav-res {
    color: #000;
    font-size: 1.4rem;
    margin-left: 4.5rem;
    margin-top: 3rem;
    overflow: scroll;
  }
  .nav-res__menu {
    margin-bottom: 3rem;
    overflow: scroll;
  }
  .nav-menu__child {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #f2f2f2;
    height: 3rem;
    line-height: 3rem;
  }
  #header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
  }
  i#icon-mobile {
    font-size: 3rem;
    position: relative;
    color: #fff;
    display: block;
    padding: 0.5rem;
  }
  .content {
    height: 78rem !important;
  }
  .content-add {
    height: 70rem !important;
  }
  i#icon-res {
    display: block;
    position: relative;
  }
  .p#text_planet,
  #planet_name,
  .planet_info,
  .planet_distance {
    display: none;
  }
  .content-img {
    height: 32rem;
  }
  .subnav-res1,
  .subnav-res2,
  .subnav-res3 {
    padding-left: 2rem;
    display: none;
  }
  .nav-input:checked ~ .header-res {
    transform: translateX(0%);
    top: 0;
  }
  .nav-input:checked ~ .nav-overlay {
    display: block;
  }
  #nav-down1:checked ~ .subnav-res1 {
    display: block;
  }
  #nav-down2:checked ~ .subnav-res2 {
    display: block;
  }
  #nav-down3:checked ~ .subnav-res3 {
    display: block;
  }
  input#nav-down1 {
    display: none;
  }
  input#nav-down2 {
    display: none;
  }
  input#nav-down3 {
    display: none;
  }
  details {
    border: 0.2rem solid #aaa;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* banner */

  .banner-img {
    width: 100%;
    height: 350px;
  }
  .banner-img__slider {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
  }
  .body {
    width: 100%;
    height: 3400px;
  }
  .footer-contact {
    height: 400px;
  }
}

/* ipad pro */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  #img_planet {
    margin-top: 4rem;
  }
  #nav li a {
    padding: 0px 35px;
    font-size: 17px;
  }
  #nav .subnav a {
    padding: 0 0px;
  }
  #logo_img {
    margin-left: 0;
  }
  #planet_name {
    margin-top: -30rem;
    padding-left: 4rem;
  }
  p#text_planet {
    margin-bottom: 0px;
  }
  .planet_info {
    margin-top: -19rem;
    margin-left: 41rem;
  }
  .planet_distance th {
    padding-right: 10rem;
    padding-bottom: 0rem;
  }
  .planet_distance {
    margin-top: 4rem;
    margin-left: 17rem;
  }
  .slider {
    height: 39rem !important;
  }
  .content {
    height: 72rem !important;
  }
  div.explo-planet {
    display: block;
    height: 50rem;
  }
  .explo-planet .text-explo {
    margin-right: 0px;
    padding: 1rem;
    width: 100%;
  }
  .explo-planet #img-nasa {
    margin-top: 1rem;
    width: 50% !important;
    margin-left: 15rem;
  }
  ul#years-content {
    color: #000;
    list-style: none;
    margin-left: 0;
    width: 100%;
  }
  li#years-content-text {
    font-size: 20px;
    padding: 1rem;
    width: 100%;
  }
  .content-add {
    height: 60rem;
  }
  .number-count,
  .number-count-fact {
    margin-left: 124px;
  }
  li.astronomy-home__numberlives {
    display: none !important;
  }
  li.astronomy-home__time-lives {
    display: none !important;
  }
}

/* phần này ko cần copy */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #090420;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disppear {
  animation: vanish 2s forwards;
}

@keyframes vanish {
  100% {
    display: none;
    visibility: hidden;
  }
}

/*# sourceMappingURL=bigbang.css.map */
